<nav class="navbar">
    <div class="navbar-item navbar-hamburger">
        <a href="#"><i class="fa fa-bars absolute-center"></i></a>
    </div>
    <ul class="navbar-links">
        <li class="navbar-item navbar-logo">
            <a href="/"><i class="fa fa-anchor absolute-center"></i></a>
        </li>
        <li class="navbar-item">
            <a href="/"><i class="fa fa-home absolute-center"></i></a>
        </li>
        <li class="navbar-item">
            <a href="/temperature"><i class="fa fa-thermometer-half absolute-center"></i></a>
        </li>
    </ul>        
</nav>