<div class="navbar">
    <div class="navbar-item">
        <a href="/"><i class="fa fa-anchor absolute-center"></i></a>
    </div>
    <div class="navbar-section">
        <ul>
            <li class="navbar-item">
                <a href="/"><i class="fa fa-home absolute-center"></i></a>
            </li>
            <li class="navbar-item">
                <a href="/temperature"><i class="fa fa-thermometer-half absolute-center"></i></a>
            </li>
        </ul>
    </div>
    <div class="navbar-item navbar-bottom">
        <a href="#"><i class="fa fa-bars absolute-center"></i></a>
    </div>
</div>