.block-container {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.block {
    background-color: #ff9cbb;
    border-radius: 6px;
    box-shadow: 5px 5px 10px #d3d3d3;
    display: inline-block;
    height: 22em;
    margin: 20px 10px;
    position: relative;
    text-align: center;
    width: 20em;
}

.block-content {
    height: 14em;
    position: absolute;
    top: 0px;
    width: inherit;
}

.block-description {
    background-color: #ffffff;
    border-radius: inherit;
    bottom: 0px;
    height: 8em;
    position: absolute;
    width: inherit;
}

.block-title {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px #d3d3d3;
    height: 15%;
    left: 50%;
    padding: 10px;
    position: absolute;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    top: -4px;
    width: 50%;
}

.block-footer {
    bottom: 0px;
    height: 2em;
    position: absolute;
    width: 100%;
}

.absolute-center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.font-fredericka {
    font-family: 'Fredericka the Great', cursive;
}

.text-large {
    font-size: 64px;
}

.text-regular {
    font-size: 16px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1300px) {
    .block-container {
        width: 95%;
    }
}