{% macro background_color(temperature, high) %}
	{% if temperature < high - 40 %}
		#95ff82
	{% elif temperature >= high %}
		#ff7c6b
	{% else %}
		#ffee80
	{% endif %}
{% endmacro %}

{% extends "templates/base.html" %}

{% block head_extension %}
    <meta http-equiv="refresh" content="1"/>
{% endblock %}

{% block title %}
	<title>Temperature Overview</title>
{% endblock %}

{% block body %}
	<div class="block-container">
		{% for entry in temperature_list %}
			{% for sensor in entry.temperature_sensors %}
				<div class="block" style="background-color: {{ background_color(sensor.current, sensor.high) }}">
					<div class="block-content">
						<span class="absolute-center text-large font-fredericka">{{ sensor.current + '°' + entry.unit }}</span>
					</div>
					<div class="block-description">
						<div class="block-title text-regular">
							{{ sensor.label }}
						</div>					
					</div>
					<div class="block-footer">
						<span class="absolute-center">{{ entry.type }}</span>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}